{% extends "base_public.html" %}
{% load i18n %}
{% block title %}Acceso{% endblock %}

{% block content %}
		
	<div class="row-fluid">
		<div class="span12 center login-header">
			<h2>Acceso de Administrador</h2>
		</div><!--/span-->
	</div><!--/row-->
	
	<div class="row-fluid">
		<div class="well span5 center login-box">
			{% if messages %}
				<div class="alert alert-info">
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				</div>					
			{% endif %}
			<form class="form-horizontal" action="/login/" method="post">
				{% csrf_token %}
				{% if next %}
					<input type="hidden" name="next" value="{{ next }}" />
				{% endif %}
				<fieldset>
					<div class="input-prepend" title="Username" data-rel="tooltip" value={{username}}>								
						<span class="add-on"><i class="icon-user"></i></span><input autofocus class="input-large span10" name="username" id="username" type="text" value='{{username}}' />
					</div>
					<div class="clearfix"></div>
					<div class="input-prepend" title="Password" data-rel="tooltip" value={{password}}>
						<span class="add-on"><i class="icon-lock"></i></span><input class="input-large span10" name="password" id="password" type="password" value='{{password}}' />
					</div>
					<div class="clearfix"></div>
					<div class="input-prepend">
						<label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>
					</div>
					<div class="clearfix"></div>
					<p class="center span5">
						<button type="submit" class="btn btn-primary">Login</button>
					</p>
				</fieldset>
			</form>
			<p class="center span5">
			Si aún no tienes cuenta, puedes registrarte <a class="btn btn-mini btn-info">Aquí</a>
			</p>
		</div><!--/span-->
</div><!--/row-->	
{% endblock %}
