{% extends "base_admin.html" %}
{% load i18n %} 

{% block title %}{% trans "Store form" %}{% endblock %}

{% block extrascript %}
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCB2zZMe_TBq6GV2DQskbuh1t8_KyQZH-g&sensor=false&libraries=places">
</script>
<script type="text/javascript">
$(function(){
var map=$('#map_localizations');
	$('#show_map').click(function(){
		if ($(this).hasClass('create'))
		{
			console.info("crear mapa");
			$(this).removeClass('create');
        	$('#map_localizations').gmap3(
        	{ 
         		map:
          		{
          			options:{
            		center:[46.578498,2.457275],
                	zoom: 8
             		}
			     }
			 });
		}
		console.info("show map clicked");
		$('#div_localizations').toggle();
		$('#table_locations').dataTable();
	});
	$('#saveAndContinue').click(function(){
		$('#continue_inserting').val('True');
		$('store_form').submit();	
	});
});
function show_modal_form_place(id){
	$('#modal_add_place').modal('show');
	console.info(id);
	var params = [];
	{% if pk %}
		console.info("form.id.value exists");
		params.push('id_store={{pk}}');
	{% endif %}
	if (id != undefined){//create
		params.push('id_place='+id);
	}
	param = "";
	if (params.length > 0){
		param = "?";
		for (i=0;i<params.length -1;i++){
			param = param + params[i]+'&';
		}
		param = param + params[params.length -1]
	}
	console.info(param);
	$('#modal_add_place').load('{% url load_place_form %}'+param);
	
}
//Simulating minimize box-content
var $target = $('.box-content');
if($target.is(':visible')) $('i',$(this)).removeClass('icon-chevron-up').addClass('icon-chevron-down');
else 					   $('i',$(this)).removeClass('icon-chevron-down').addClass('icon-chevron-up');
$target.slideToggle();
</script>
{% endblock%}
{% block breadcrum%} 
	<div>
		<ul class="breadcrumb">
			<li><a href='/'>{% trans "Dashboard" %}</a><span class="divider">/</span></li>
			<li><a  href='/my-stores'>{% trans "Mis tiendas" %}</a><span class="divider">/</span></li>
			<li>{% trans "Nueva tienda" %}</li>
		</ul>
	</div>
{%endblock breadcrum %}

{% block page-title%}	
	<h2>{% trans "Tienda" %}</h2>
{% endblock page-title%}

{% block operations%}
	{% ifnotequal pk None %}
		<a>h</a>
	{% endifnotequal %}
{% endblock operations %}
{% block messages %}
{% endblock messages %}
{% block contentdata %}
	<div class="row-fluid sortable">
		<form id='store_form' class="form-horizontal span12 mine" action="." method="post">
			{% csrf_token %}
			<input type='hidden' value='False' name='continue_inserting' id='continue_inserting'/>
			<div class="control-group">
				<label class="control-label" for="name">{% trans "Nombre"%}*:</label>
				<div class="controls">
	            	<input type="text" name="name" id="id_name" placeholder="name" value="{{form.name.value}}" required />
					{% if form.name.error %}
					<span class="help-inline">ERROR</span>
					{% endif %}

				</div>
			</div>
	  		<div class="control-group">
	    		<label class="control-label" for="description">{% trans "Descripción"%}</label>
	    		<div class='controls'>
	    			<textarea name="description" id="id_description" placeholder="descripción" class="autogrow">{{form.description.value}}</textarea>
	  			</div>
	  		</div>
	  		<div class ='row-fluid'>
				<div class="box span6">
					<div class="box-header well" data-original-title>
						<h2>{% trans "Tabla localizaciones"%}</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-down"></i></a>
							<a href="#" class="btn btn-plus btn-round" title="{% trans 'Nueva localización' %}" data-rel="tooltip" id='btn_add_place' onclick='show_modal_form_place()'><i class="icon-plus"></i></a>
						</div>
					</div>
					<div class="box-content">	  	  				 
				  		<div id='table_localizations'  style='height:250px;' class='row-fluid'>
					  		<table id='table_locations' class='table datatable'>
					  			<thead>
					  				<tr>
					  					<th>Dirección</th>
					  					<th>CP</th>
					  					<th>lat</th>
					  					<th>lng</th>
					  					<th>País</th>
					  					<th>Ciudad</th>	  					
					  				</tr>
					  			</thead>
					  			<tbody></tbody>
					  		</table>		  			
				  		</div>
			  		</div>
	  			</div>
				<div class="box span6">
					<div class="box-header well" data-original-title>
						<h2>{% trans "Añadir localizaciones"%}</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-down"></i></a>
						</div>
					</div>
					<div class="box-content">	  	  				
				  			<div id='map_localizations'  style='height:250px;' class='row-fluid'></div>
			  		</div>
		  		</div>
			</div>
			<div  class='row-fluid center'>
				<button type="submit" class="btn btn-large btn-primary">Guardar</button>
				<button type="submit" class="btn btn-large btn-info" id='saveAndContinue'>{% trans "Guardar y continuar"%}</button>
			</div>
		</form>
	</div>
	<!--Popups or modals -->
	<div id='modal_add_place' class="modal hide"></div>
{% endblock %}