footer
{
	position: relative;
	margin-top:20px;
	background-color: #44063F;
	text-align:center;
	color: #BDE61A;
}
footer span
{
	position:absolute;
	top: 0;
width: 20%;
height: 4px;
}
footer .span4
{
	margin-top:10px;
}
.f1{
	left: 0;
	background: #F3A01E;
}
.f2{
		left: 20%;
	background: #D05D2A;
}
.f3{
		left: 40%;
	background: #9DC425;
}
.f4{
		left: 60%;
	background: #4B8DB5;
}
.f5{
		left: 80%;
	background: #7C48B5;
}

#social
{
	position:absolute;
	left:40%;
	margin-top: -30px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	color: #44063F;
	box-shadow: 0 0 5px #888;
	background-color: rgba(192, 192, 24,100);
	width: 20%;height: 30px;
}
#social img
{
height: 30px;
}