<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Base CSS -->
    <link type="text/css" href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen"/>
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- jquery -->
    <script src="{{STATIC_URL}}script/jquery.js"></script>
    <!-- Data tables plugin -->
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/demo_table.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}dataTable/js/jquery.dataTables.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
  <div id="body">
    {% block body %}
      <div class="header" style="min-height: 80px; background: url('/static/img/header-background.png') repeat-x;">
          {% block header %}{% endblock %}
      </div>
      <div class="content">
          {% block content %}{% endblock %}
      </div>
      <div class="footer">
          {% block footer %}
          {% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>