<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
            <!-- Le styles -->
            <link href="{{STATIC_URL}}jquery-ui-bootstrap/assets/css/bootstrap.min.css" rel="stylesheet">
            <link type="text/css" href="{{STATIC_URL}}jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
            <link type="text/css" href="{{STATIC_URL}}jquery-ui-bootstrap/assets/css/font-awesome.min.css" rel="stylesheet" />
            <!--[if IE 7]>
            <link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-bootstrap/assets/css/font-awesome-ie7.min.css">
            <![endif]-->
            <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jquery-ui-bootstrap/css/custom-theme/jquery.ui.1.10.0.ie.css"/>
            <![endif]-->
            <link href="{{STATIC_URL}}jquery-ui-bootstrap/assets/css/docs.css" rel="stylesheet">
            <link href="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->


    <!--IE6-8 support for HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Base CSS -->
    <link type="text/css" href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen"/>
     <!-- jquery -->
<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCB2zZMe_TBq6GV2DQskbuh1t8_KyQZH-g&sensor=false">
</script>
    <!-- Data tables plugin -->
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/demo_table.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}dataTable/js/jquery.dataTables.min.js"></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Truco</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <p style="color: whitesmoke; float: right;">
            {% if user.is_authenticated %}
                Welcome, {{ user.username }}. Thanks for logging in.
            {% else %}
                Welcome, new user. Please log in.
            {% endif %}
            </p>
        </div>
    </div>
</div>

<div id="messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <a class="close" data-dismiss="alert">×</a>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container-fluid">
    {% block content %}
   	{% endblock %}
</div> <!-- /container -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery-ui-bootstrap/assets/js/docs.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/gmap3.js" type="text/javascript"></script>

</body>
</html>