<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{{STATIC_URL}}css/base.css" rel="stylesheet" media="screen"/>
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/demo_table.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}dataTable/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <script src="{{STATIC_URL}}script/jquery.js"></script>
    <script src="{{STATIC_URL}}dataTable/js/jquery.dataTables.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
  <div id="body">
    {% block body %}
      <div class="header" style="min-height: 80px; background: url('/static/img/header-background.png') repeat-x;">
          {% block header %}{% endblock %}
      </div>
      <div class="content">
          {% block content %}{% endblock %}
      </div>
      <div class="footer">
          {% block footer %}
          {% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>