{% extends "base.html" %}
{% load i18n %} 

{% block title %}{% trans "This is the title." %}{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {

  var oTable = $('#table_stores').dataTable();    

} );
</script>
<table id="table_stores">
<thead>
<th></th>
<th></th>
<th></th>
</thead>
<tbody>
       {% for store in stores %}
       <tr>
       	<td>{{ store.name|capfirst }}</td>
       	<td>{{ store.description|capfirst }}</td>
       <td><a href="/store/edit/{{store.id}}">Editar</a></td>
       </tr>
       {% endfor %}
</tbody>
</table>
{% endblock %}