{% extends "base_admin.html" %}
{% load i18n %} 

{% block title %}{% trans "This is the title." %}{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(function() {

  var oTable = $('#table_stores').dataTable({
  "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
  });    
$.extend( $.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
} );
} );
</script>
{% endblock %}
{% block contentdata %}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table_stores">
<thead>
<th>Nombre</th>
<th>Descripción</th>
<th>Editar</th>
</thead>
<tbody>
       {% for store in stores %}
       <tr>
       	<td>{{ store.name|capfirst }}</td>
       	<td>{{ store.description|capfirst }}</td>
       <td><a href="/store/edit/{{store.id}}">Editar</a></td>
       </tr>
       {% endfor %}
</tbody>
</table>
{% endblock %}