{% extends "base.html" %}
{% load i18n %} 

{% block title %}{% trans "This is the title." %}{% endblock %}
<script>
$(funtion(){
$('#table_stores').datatable();
});
</script>
{% block content %}
{% if user.is_authenticated %}
  Bienvenido,  {{user.username}}
 {{user.pk}}

{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}   
<table id="table_stores">
       {% for store in stores %}
       <tr>
       	<td>{{ store.name|capfirst }}</td>
       </tr>
       {% endfor %}
</table>
{% endblock %}