{% extends "base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block extrascript %}
	<script type="text/javascript">
		function select_category(idselect) {
			var idcat = $("#categories #"+idselect).val();
			var s = idselect.split("_");
			var next_level = parseInt(s[1])+1;
            // Get subcategories via AJAX request
            $.ajax({
				type: 'GET',
				datatype: 'json',
				url : "{% url subcategories %}",
				data: {idcategory : idcat},
				success : function (data){
					objects = JSON.parse(data);
					select = "<div class='controls'>"
					select += "<select id='cat_"+next_level+"'>";
					select += "<option value='0'>{% trans 'Subcategory' %}</option>""
					for(var i=0; i < objects.length; i++){
						console.info(objects[0]);
						select += "<option value='" + objects[i].pk + "'>";
						select += objects[i].fields.name + "</option>";
					}
					select += "</select></div>";
					console.info(select);
					if(next_level == 2){
						$("#categories #cat_2").remove();
						$("#categories #cat_3").remove();
						$("#categories").append(select);
					}else if(next_level == 3){
						$("#categories #cat_3").remove();
						$("#categories").append(select);
					}
					$("#categories #cat_"+next_level).chosen();
				},
				error: function(data){
					alert("Error trying to load subcategories");
				}
			});
		}
	</script>
    <script type="text/javascript">
 	$("#categories #cat_1").chosen().change(function() {
    	select_category("cat_1");
	});
    </script>
{% endblock %}
{% block contentdata %}

    <div id="categories" class="control-group">
        	<label class="control-label" for="cat1">{% trans "Category" %}</label>
            <select id="cat_1" data-rel="chosen">
                <option value="0">Categoría</option>
                <option value="1">Alimentacion</option>
                <option value="4">Higiene</option>
                <option value="3">Marcas blancas</option>
            </select>
    </div>

    <table id="table_products" class="bootstrap-datatable datatable table table-striped table-bordered">
        <thead>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Brand" %}</th>
        <th>{% trans "Amount" %}</th>
        </thead>
        <tbody>
            <tr>
                <td>Yogurt azucarado</td>
                <td>Danone</td>
                <td>pack de 6</td>
            </tr>
            <tr>
                <td>Macarrones lisos</td>
                <td>Hacendado</td>
                <td>500 gr</td>
            </tr>
        </tbody>
    </table>

{% endblock %}