{% extends "base_admin.html" %}
{% load i18n %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block extrascript %}
	<script type="text/javascript">
		function select_category(idselect) {
			$("#categories .current_category").removeClass("current_category");
			var cat = $("#categories #"+idselect);
			cat.addClass("current_category");
			var idcat = cat.val();
			var s = idselect.split("_");
			var next_level = parseInt(s[1])+1;
            // Get subcategories via AJAX request
            $.ajax({
				type: 'GET',
				datatype: 'json',
				url : "{% url subcategories %}",
				data: {idcategory : idcat},
				success : function (data){
					objects = JSON.parse(data);
					select = "<select id='cat_"+next_level+"'>";
					select += "<option value='0'>{% trans 'Subcategory' %}</option>";
					for(var i=0; i < objects.length; i++){
						select += "<option value='" + objects[i].pk + "'>";
						select += objects[i].fields.name + "</option>";
					}
					select += "</select>";
					if(next_level == 2){
						// TODO esto borra los selects, pero charisma genera un div
						// que es lo que se muestra y no se esta borrando bien.
						$("#categories #cat_2").remove();
						$("#categories #cat_3").remove();
						$("#categories").append(select);
					}else if(next_level == 3){
						$("#categories #cat_3").remove();
						$("#categories").append(select);
					}
					$("#categories #cat_"+next_level).chosen();
				},
				error: function(data){
					alert("Error trying to load subcategories");
				}
			});
		}
		function show_products(){
			var param = "?";
			{% if id_place %}
				param += "place={{id_place}}"
			{% else %}
				param += "store={{id_store}}"
			{% endif %}
			param += "&category=" + $("#categories .current_category").val();
			$('#products_table').load('{% url load_products %}'+param);
			$('#products_table').show();
		}
	</script>
    <script type="text/javascript">
 	$("#categories #cat_1").chosen().change(function() {
    	select_category("cat_1");
	});
    </script>
{% endblock %}
{% block contentdata %}

    <div id="categories" class="control-group">
        	<label class="control-label" for="cat1">{% trans "Category" %}</label>
            <select id="cat_1" data-rel="chosen">
                <option value="0">{% trans "Category" %}</option>
                {% for c in pcategories %}
                <option value="{{c.pk}}">{{c.name}}</option>
                {% endfor %}
            </select>
    </div>
    <button class="btn btn-large btn-primary" onclick = "show_products()">{% trans "View" %}</button>
    <div id="products_table" class="hide"></div>

{% endblock %}