{% extends "base_admin.html" %}
{% load i18n %} 

{% block title %}{% trans "Store form" %}{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(function(){
var map=$('#map_localizations');
/* 
//for autocomplete purpose.. todo
var input = document.getElementById('address');
var options = {
  types: ['(cities)'],
  componentRestrictions: {country: 'es'}
};

$("#tabs").tabs({
    activate: function(event, ui) {
        if (ui.newPanel.hasClass("gmap3")) {
            ui.newPanel.gmap3({trigger: "resize"});
        }
    }
});

        var marker = new google.maps.Marker();
autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.bindTo('bounds', map);
google.maps.event.addListener(autocomplete, 'place_changed', function() {
  var place = autocomplete.getPlace();
  var image = new google.maps.MarkerImage(
      place.icon, new google.maps.Size(71, 71),
      new google.maps.Point(0, 0), new google.maps.Point(17, 34),
      new google.maps.Size(35, 35));
  marker.setIcon(image);
  marker.setPosition(place.geometry.location);

  //infowindow.setContent(place.name);
  //infowindow.open(map, marker);
});
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          marker.setVisible(false);
          input.className = '';
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // Inform the user that the place was not found and return.
            input.className = 'notfound';
            return;
          }

          // If the place has a geometry, then present it on a map.
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          var image = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
          };
          marker.setIcon(image);
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
         });
*/

	$('#show_map').click(function(){
		if ($(this).hasClass('create'))
		{
			console.info("crear mapa");
			$(this).removeClass('create');
        	$('#map_localizations').gmap3(
        	{ 
         		map:
          		{
          			options:{
            		center:[46.578498,2.457275],
                	zoom: 8
             		},
             		events:{
                		rightclick:function(map, event){
                  			var lat = event.latLng.lat(), 
                      			lng = event.latLng.lng();
                  			$(this).gmap3({
                  				marker:{
                    				latLng: event.latLng
                    			}
                  			});
			                $(this).gmap3({
			                  getaddress:{
			                    latLng:event.latLng,
			                    callback:function(results){
			                      var map = $(this).gmap3("get"),
			                        infowindow = $(this).gmap3(
			                        	{get:"infowindow"}
			                        ),
			                        content = results && results[1] ? results && results[1].formatted_address : "no address";
			                    	//formatted-address
			                    	address = results[0].address_components
			                    	console.info(results[0].address_components);
			                    	console.info(address[0]);
			                    	//add element in a datatable whith the info
			                    	$('#table_locations').dataTable().fnAddData([
			                    		address[0].long_name,
			                    		address[5].long_name,
			                    		lat,
			                    		lng,
			                    		address[4].long_name,
			                    		address[2].long_name
			                    	]);
			                    	
			                    }
			                  }
			                });
                    	}                            
              		}
              	}
          });	
		}
		console.info("show map clicked");
		$('#div_localizations').toggle();
		$('#table_locations').dataTable();
	});
});
</script>
{% endblock%}

{% block breadcrum%} 
	<li><a href='/'>{% trans "Dashboard" %}</a><span class="divider">/</span></li>
	<li><a  href='/my-stores'>{% trans "Mis tiendas" %}</a><span class="divider">/</span></li>
	<li><a class='active'>{% trans "Nueva tienda" %}</a></li>
{%endblock breadcrum %}

{% block page-title%}	
	<h2 style='text-align:center;'>Tienda</h2>
{% endblock page-title%}

{% block operations%}
	<a class ='btn' title="{% trans "Añadir una nueva tienda" %}" data-rel="tooltip" href='/store/new/'><i class="icon-plus"></i></a>
	<a class ='btn' onclick='deleteStores()'><i class="icon-trash"></i></a>

{% endblock operations %}
{% block messages %}
{% endblock messages %}
{% block contentdata %}
	<div class="row-fluid sortable">	
	<form class="form-horizontal span12" action="." method="post">
	{% csrf_token %}
		<div class="control-group">
			<label class="control-label" for="name">{% trans "Nombre"%}*:</label>
			<div class="controls">
	            <input type="text" name="name" id="id_name" placeholder="name" value="{{form.name.value}}" required>
			</div>
		</div>
	  <div class="control-group">
	    <label class="control-label" for="description">{% trans "Descripción"%}</label>
	    <div class='controls'>
	    	<textarea name="description" id="id_description" placeholder="descripción" rows='5'>{{form.description.value}}</textarea>
	  	</div>
	  </div>
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title>
				<h2>{% trans "Añadir localizaciones"%}</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
				</div>
			</div>
			<div class="box-content">	  
	  				
	    	<div class='span8' id='tabs'>
	  			<div id='map_localizations'  style='height:250px;' class='row-fluid'></div>
	  		</div>
	  		</div>
	  	</div>
	  </div> 
	  	<a class='btn create'   id="show_map">Ver mapa</a>
	  	<div id='div_localizations' style='display: none; height:250px;' class='fluid-row'>

	  		<div class='span4'>
	  		<table id='table_locations'>
	  			<thead>
	  				<tr>
	  					<th>Dirección</th>
	  					<th>CP</th>
	  					<th>lat</th>
	  					<th>lng</th>
	  					<th>País</th>
	  					<th>Ciudad</th>	  					
	  				</tr>
	  			</thead>
	  			<tbody></tbody>
	  		</table>
	  		</div>
	  	</div>
	  </div>

	  <div  class='row-fluid'>
	  	<button type="submit" class="btn btn-large btn-primary">Guardar</button>
	  </div>
	</form>
	</div>
{% endblock %}