{% load i18n %} 
<script>
$(function(){
	$('#form_place').submit(function(e){
		//Do openstreetmap request:
		e.preventDefault();
		console.info("submit");
		var request ="http://nominatim.openstreetmap.org/search?";
		var number = $('#id_direction_number').val();
		console.info(number);
		var error_message = "ERROR: ";
		if (number.split(' ').length >1){
			error_message = error_message + "Introduzca un número correcto";
		}else{
			key = $('#id_direction').val();
			key = key.replace(' ','%20');
			console.info(key);
			request = request +"street="+number+"%20"+key+"&";
		}
		request = request + "city="+$('#id_city').val()+"&format=json&polygon=1&addressdetails=1";
		console.info(request);

		$.getJSON(request, function(data) {
			console.info(data.length);
		});

	});	
});
</script>
<form id='form_place'>
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3 class='center'>{{title}}</h3>
	</div>
	<div class="modal-body">
	  	<div class="control-group">
			<label class="control-label" for="description">{% trans "Dirección"%}</label>
			<div class='controls'>
				<input type='text' name="direction" id="id_direction" placeholder="Dirección" value='{{place.direction}}' required />
				<input type='text' size='4' name="direction" id="id_direction_number" placeholder="nº" value='{{place.direction_number}}' />
	  		</div>
	  	</div> 	
	  	<div class="control-group">
			<label class="control-label" for="city">{% trans "Ciudad"%}</label>
			<div class='controls'>
				<input type='text' name="city" id="id_city" placeholder="Ciudad" value='{{place.city}}' required />
	  		</div>
	  	</div> 
	</div>
	<div class="modal-footer center">
		<button class="btn btn-info" type="submit">{% trans "Guardar"%}</button>
		<a href="#" class="btn btn-warning" data-dismiss="modal">{% trans "CANCELAR"%}</a>
	</div>
</form>